@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

html, body {
  background-color: white;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-display: swap;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#bg-1 {
  background-image: url("/IMAGE/bg-1.webp");
  width: 100vw;
  height: 200vh;
  background-size: cover;
  background-repeat: no-repeat;
}
#bg-1 #texto-1 {
  color: white;
  align-items: center;
  position: relative;
  top: 450px;
  right: 200px;
}
#bg-1 #texto-1 span:nth-child(1) {
  font-size: max(41px, 3vw);
  font-weight: 800;
  word-spacing: -7px;
}
#bg-1 #texto-1 #ret-sombreado {
  background-color: #0e4564;
  padding: 0px 5px 0px 5px;
}
#bg-1 #texto-1 #ret-sombreado p {
  font-size: max(18px, 1.3vw);
  padding: 5px;
  text-align: center;
}
#bg-1 #texto-1 span:nth-child(3) {
  font-size: clamp(120px, 9vw, 200px);
  font-weight: 800;
  letter-spacing: 0px;
  position: relative;
  bottom: 20px;
}
#bg-1 #texto-1 img {
  width: max(230px, 17%);
  position: relative;
  bottom: 30px;
}

#bg-2 {
  background-image: url("/IMAGE/bg-2.webp");
  width: 100vw;
  height: 200vh;
  background-size: cover;
  background-repeat: no-repeat;
}
#bg-2 #box-1 {
  align-self: center;
  position: relative;
  bottom: 200px;
  background: rgb(0, 91, 255);
  background: linear-gradient(0deg, rgb(0, 91, 255) 30%, rgb(0, 176, 255) 100%);
  width: 70%;
  padding: 20px;
  border: 1px solid white;
  border-radius: 50px;
}
#bg-2 #box-1 p {
  font-size: max(13px, 1.1vw);
  color: white;
}
#bg-2 #texto-1-bg2 {
  position: relative;
  bottom: 50px;
  align-self: center;
  width: 60%;
}
#bg-2 #texto-1-bg2 p {
  font-size: max(15px, 1.3vw);
  color: #0a236b;
}
#bg-2 #texto-1-bg2 p b {
  font-size: max(15px, 1.3vw);
}
#bg-2 #box-info {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 140px;
  padding: 0px 100px 0px 100px;
}
#bg-2 .box-info-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bg-2 .box-info-class img {
  width: 200px;
  border-radius: 40px;
}
#bg-2 .texto-box-info {
  width: 200px;
  background: rgb(26, 66, 137);
  background: linear-gradient(152deg, rgb(26, 66, 137) 30%, rgb(64, 106, 180) 100%);
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 30px;
  border: 3px solid grey;
  text-align: center;
}
#bg-2 .texto-box-info span {
  color: white;
  font-weight: 800;
}
#bg-2 #texto-2-bg2 {
  position: relative;
  top: 330px;
  width: 50%;
  align-self: center;
}
#bg-2 #texto-2-bg2 p {
  font-size: max(15px, 1.3vw);
  text-align: center;
  color: #0a236b;
}
#bg-2 #texto-2-bg2 p b {
  font-size: max(15px, 1.3vw);
}

#bg-3 {
  background-image: url("/IMAGE/bg-3.webp");
  width: 100vw;
  height: 300vh;
  background-size: cover;
  background-repeat: no-repeat;
}
#bg-3 #imagens-bg3 {
  align-self: center;
  position: relative;
  bottom: 50px;
  left: 55px;
}
#bg-3 #imagens-bg3 img:nth-child(2n+1) {
  position: relative;
  bottom: 450px;
  margin: 0px -120px 0px -120px;
  width: 36%;
}
#bg-3 #imagens-bg3 img:nth-child(2) {
  width: 80%;
}
#bg-3 #texto-1-bg3 {
  width: 57%;
  align-self: center;
  position: relative;
  bottom: 180px;
  right: 30px;
}
#bg-3 #texto-1-bg3 p {
  color: white;
  font-size: max(25px, 2.3vw);
  text-align: center;
}
#bg-3 #formulario {
  width: 400px;
  align-self: center;
  position: relative;
  top: 100px;
}
#bg-3 #formulario #form #title-form {
  background-color: #0b81c3;
  text-align: center;
}
#bg-3 #formulario #form #title-form h1 {
  color: white;
  font-size: 19px;
  padding: 5px;
}
#bg-3 #formulario #form #corpo-form {
  background-color: #0e4564;
}
#bg-3 #formulario #form form {
  padding: 20px 10px 20px 10px;
  align-items: center;
}
#bg-3 #formulario #form form #texto-form-completo {
  display: flex;
  flex-direction: column;
}
#bg-3 #formulario #form form #texto-form-completo div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#bg-3 #formulario #form form #texto-form-completo div span {
  color: white;
  margin-bottom: 3px;
}
#bg-3 #formulario #form form #texto-form-completo div input {
  margin-bottom: 10px;
  padding: 5px;
}
#bg-3 #formulario #form form #texto-form-completo div input:focus {
  outline: none;
}
#bg-3 #formulario #form form #texto-form-completo div textarea {
  margin-bottom: 10px;
  padding: 5px;
  resize: none;
  height: 50px;
  font-family: "Montserrate", sans-serif;
}
#bg-3 #formulario #form form #texto-form-completo div textarea::-webkit-scrollbar {
  display: none;
}
#bg-3 #formulario #form form #texto-form-completo div textarea:focus {
  outline: none;
}
#bg-3 #formulario #form form button {
  width: 80px;
  padding: 5px;
  background-color: #0b81c3;
  color: white;
  margin-top: 10px;
}
#bg-3 #formulario #form form button:hover {
  cursor: pointer;
  background-color: #276d96;
}
#bg-3 #formulario #form #checkbox {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
#bg-3 #formulario #form #checkbox span {
  color: white;
  font-size: 0.7em;
  margin-left: 5px;
}
#bg-3 #parte-2-bg3 {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 400px;
  align-items: center;
}
#bg-3 #parte-2-bg3 img {
  margin-bottom: 20px;
}
#bg-3 #parte-2-bg3 img:nth-child(1) {
  width: 35%;
}
#bg-3 #parte-2-bg3 img:nth-child(3) {
  width: 60%;
}
#bg-3 #parte-2-bg3 img:nth-child(4) {
  width: 25%;
}
#bg-3 #parte-2-bg3 #retangulo-parte-2-bg3 {
  background-color: #0e4564;
  padding: 5px 40px 5px 40px;
  margin-bottom: 40px;
}
#bg-3 #parte-2-bg3 #retangulo-parte-2-bg3 span {
  font-size: 1.4vw;
  color: white;
}

#bg-4 {
  background-image: url("/IMAGE/bg-4.webp");
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}
#bg-4 #texto-1-bg4 {
  color: white;
  align-items: center;
  margin-top: 40px;
}
#bg-4 #texto-1-bg4 span:nth-child(1) {
  font-size: max(35px, 2.8vw);
  font-weight: 800;
  word-spacing: -7px;
}
#bg-4 #texto-1-bg4 #ret-sombreado-bg4 {
  background-color: #c3287c;
  padding: 0px 5px 0px 5px;
}
#bg-4 #texto-1-bg4 #ret-sombreado-bg4 p {
  font-size: max(15px, 1.2vw);
  padding: 5px;
  text-align: center;
}
#bg-4 #texto-1-bg4 span:nth-child(3) {
  font-size: clamp(110px, 6vw, 180px);
  font-weight: 800;
  letter-spacing: 0px;
  position: relative;
  bottom: 20px;
}
#bg-4 #texto-2-bg4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 70px;
}
#bg-4 #texto-2-bg4 p {
  color: #0e4564;
  font-size: max(16px, 1.5em);
}
#bg-4 #texto-2-bg4 p:nth-child(1) {
  font-weight: bold;
}
#bg-4 #imagens-bg4 {
  display: flex;
  position: relative;
  bottom: 40px;
  justify-content: center;
}
#bg-4 #imagens-bg4 img:nth-child(1) {
  width: 8%;
}
#bg-4 #imagens-bg4 img:nth-child(2) {
  width: 9%;
  height: 80%;
  margin-left: 50px;
}/*# sourceMappingURL=style.css.map */